%h1 Apache Tika Results

%p
  These are the results for running Tika on this URL:
  %a{href: url}= url
%p
  %a{href: '/'} Try again

%h2 Metadata
%table
  - metadata.each do |k,v|
    %tr
      %th= k + ?:
      %td= v

- if errors
  %h2 Errors
  %pre= errors

%h2 Text Content
%pre= text